<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
      <%= image_tag("mainpic.jpg") %>
		</div>
		<div class="carousel-item">
			<%= image_tag("mainpic1.jpg") %>
		</div>
		<div class="carousel-item">
			<%= image_tag("mainpic2.jpg") %>
		</div>
	</div>
</div>
